{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="uft-8">
    <title>{% block title %}DBC Inventory Management Tools {% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% load static %}
    <link href="{% static 'css/main.css ' %}" rel="stylesheet" type="text/css">
    <!-- Social Tags -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,300,500,700,600" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
</head>

<body class="{% block body_class %}{% endblock %}">
    {% block content %}
    {% endblock %}
</body>

</html>
