{% extends "base.html" %}

{% block title %} DBC Inventory Management Tools {% endblock%}

{% block content %}
       
    <div class='forms-display'>
        <h2 class ="heading">Add or Update Targets</h2>
        <form method="post" action="add_update"></form>
            <div class="row">
                <div class="col-md-2">
                    {{ forms.add_form.target_type.errors }}
                    {{ forms.add_form.target_type.label_tag }}
                    {{ forms.add_form.target_type }}
                </div>
                <div class="col-md-2">
                    {{ forms.add_form.action.errors }}
                    {{ forms.add_form.action.label_tag }}
                    {{ forms.add_form.action }}
                </div>
                <div class="col-md-2">
                    <input type="submit" value="ADD / UPDATE" class="btn btn-primary">
                </div>
            </div>
        </form>
    </div>
        
    <div class='forms-display'>
        <h2 class ="heading">Check Targets</h2>
        <form method="post" action="check_target"></form>
            <div class="row">
                <div class="col-md-2">
                    {{ forms.check_form.target_type.errors }}
                    {{ forms.check_form.target_type.label_tag }}
                    {{ forms.check_form.target_type }}
                </div>
                <div class="col-md-2">
                    {{ forms.check_form.frequencies.errors }}
                    {{ forms.check_form.frequencies.label_tag }}
                    {{ forms.check_form.frequencies }}
                </div>
                <div class="col-md-2">
                    <input type="submit" value="CHECK" class="btn btn-primary">
                </div>
            </div>
        </form>
    </div>

    <div class='forms-display'>
        <h2 class ="heading">Check Targets</h2>
        <form method="post" action="run_report"></form>
            <div class="row">
                <div class="col-md-2">
                    {{ forms.alerts_form.target_type.errors }}
                    {{ forms.alerts_form.target_type.label_tag }}
                    {{ forms.alerts_form.target_type }}
                </div>
                <div class="col-md-2">
                    {{ forms.alerts_form.interval.errors }}
                    {{ forms.alerts_form.interval.label_tag }}
                    {{ forms.alerts_form.interval }}
                </div>
                <div class="col-md-2">
                    <input type="submit" value="RUN REPORT" class="btn btn-primary">
                </div>
            </div>
        </form>
    </div>
    
    <!-- <h2 class ="heading">Add or Update Targets</h2>
    <div class="option-box">
        <form method="post" action="add_update">
            {% csrf_token %}
            {{ forms.add_form.as_table }}
            <input type="submit" value="ADD / UPDATE">
        </form>
    </div> -->

    <!-- <h2 class ="heading">Check Targets</h2>
    <div class="option-box">
        <form class ="btn" method="post" action="check_target">
            {% csrf_token %}
            {{ forms.check_form.as_table }}
            <input type="hidden" name="form_type" value='check_form'>
            <input type="submit" value="CHECK">
        </form>
    </div> -->

    <!-- <h2 class ="heading">Alerts</h2>
    <div class="option-box">
        <form class="btn" method="post" action="run_report">
            {% csrf_token %}
            {{ forms.alerts_form.as_table }}
            <input type="hidden" name="form_type" value='alerts_form'>
            <input type="submit" value="RUN REPORT">
        </form>
    </div> -->

{% endblock %}